<div class="col-md-6 offset-3 mt-5">
 <div class="card mb-4 shadow-sm">
    <div class="card-body">

<%= form_with(model: @profile, local: true ,url: choose_new_or_edit) do |form| %>
  <% if @profile.errors.any? %>
    <div id = "error_explanation">
      <h2><%= @profile.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="blog_title">
    <div class="field">
      <%= form.label :名前 %><br />
      <%= form.text_field :@profile.user.name, autofocus: true, autocomplete: "name" %>
    </div>
    
    <div class="field">
      <%= form.label :ユーザーネーム %><br />
      <%= f.text_field :@profile.user.username, autofocus: true, autocomplete: "username" %>
    </div>
    
    <%= form.label :投稿 %>
    <%= form.text_area :@profile.user.introduce, placeholder:"今なにしてる？", class:"form-control", rows: 5 %>
  </div>
  <div class="field">
    <%= form.label :画像 %><br>
    <%= form.file_field :picture, class:"form-control" %>
    <%= form.hidden_field :picture_cache, class:"form-control" %>
  </div>
  <%= form.submit "シェア", class:"btn btn-lg btn-success my-3" %>
<% end %>

<%= link_to "ブログ一覧画面に戻る", blogs_path, class:"btn btn-lg btn-light mb-5" %>

 </div>
  </div>
</div>