<div class="col-md-6 offset-3">
  <% if user_signed_in? %>
    ユーザー名：<%= current_user.username %><br>
  <% end %>
  
  <table class="table-light mt-3 mb-5 p-4">
    <h5 class="mt-3 ml-2">投稿一覧</h5>
    <% @blogs.each do |blog| %>
      <tr>
        <% if blog.user.profile.present? %>
          <td class="personal_picture"><%= link_to image_tag(blog.user.profile_url,:width => "60px"), blog_path(blog.id) %></td>
          <td class="name"><%= blog.user.username %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= blog.created_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %></td>
      </tr>
      <tr>
        <td class="picture">
          <%=link_to image_tag(blog.image_url,:width => "400px"), blog_path(blog.id) %>
        </td>
      </tr>
      <tr>
        <td class="content"><%= blog.content %></td>
      </tr>
    <% end %>
  </table>
  <div class="paginate">
    <%= paginate @blogs, class:"mb-5" %>
  </div>
</div>