<div class="col-md-8 offset-1">
  <h3>ブログ詳細画面</h3>
  <%= link_to 'トップページ', root_path, class:"btn btn-ml btn-light" %><br>
  <% if user_signed_in? && @blog.user_id == current_user.id %>
    <%= link_to '投稿者情報', person_blogs_path, class:"btn btn-ml btn-light" %><br>
    <%= link_to '編集する', edit_blog_path(@blog), class:"btn btn-ml btn-info m-3" %>
    <%= link_to '削除する', blog_path(@blog), method: :delete, data: {confirm: "本当に削除してもいいですか？"}, class:"btn btn-ml btn-danger m-3" %>
  <% end %>
  <table>
    <tr>
      <td>
        <div class="main_picture">
          <p><%= image_tag @blog.image.url %></p>
        </div>
      </td>
      <td class="user_information">
        <div class="name">
          ユーザーネーム：<%= @blog.user.username %><br>
        </div>
        <div class="content">
          <p><%= simple_format(@blog.content) %></p>
        </div>
      </td>
    </tr>
  </table>
  
  <% unless @blog.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger mb-3' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary mb-3' %>
  <% end %>
  <div class="favorite_btn">
    <%= link_to "お気に入り投稿に戻る", favorite_blogs_path, class:"btn btn-md btn-light" %>
  </div>
<% end %>
</div>  
  
